﻿<div class="row">
    <div class="col-md-10">
        <h2>Welcome to Flight Booker!</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Today's Specials</h3>
        <table class="table table-condensed table-hover">
            <tr>
                <th>Date</th>
                <th>Departs</th>
                <th>Arrives</th>
                <th>Price</th>
            </tr>
            <tr ng-repeat="special in specials" ng-click="selectFlight(special)">
                <td>{{special.departureDate | date:'medium'}}</td>
                <td>{{special.departureAirport}}</td>
                <td>{{special.arrivalAirport}}</td>
                <td>{{special.price | currency}}</td>
            </tr>
        </table>
    </div>
</div>