﻿<div class="row">
    <div class="col-md-10">
        <h2>Airports</h2>
    </div>
</div>
<div class="row">
    <div class="k-grid k-widget k-secondary"
         kendo-grid
         k-options="airportGridOptions"
         k-on-change='selectionChange(dataItem)'>
    </div>
</div>
<div class="row" ng-show="selectedItem">
        <h2>Airport Details</h2>
    <div>
        <ul class="list-group">
            <li class="list-group-item"> Name: {{ selectedItem.name }}</li>
            <li class="list-group-item"> Airport Code: {{ selectedItem.airportCode }}</li>
            <li class="list-group-item"> City: {{ selectedItem.city }}</li>
            <li class="list-group-item"> State: {{ selectedItem.state }}</li>
            <li class="list-group-item"> Zipcode: {{ selectedItem.zipcode }}</li>
            <li class="list-group-item"> Phone Number: {{ selectedItem.phoneNumber }}</li>
        </ul>
    </div>
</div>
