﻿<div class="row">
    <div class="col-md-10">
        <h2>Add Passenger</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <form name="addPassenger" novalidate>
            <div class="field-validation-error text-danger" ng-show="errors.length > 0" ng-repeat="error in errors">{{error}}</div>
            <div class="form-group">
                <label>First Name</label>
                <input type="text" ng-model="passenger.firstName" class="form-control" name="firstName" required />
                <div class="text-danger" ng-show="addPassenger.firstName.$error.required">First name is required.</div>
            </div>
            <div class="form-group">
                <label>Middle Initial</label>
                <input type="text" ng-model="passenger.middleInitial" class="form-control" />
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" name="lastName" ng-model="passenger.lastName" class="form-control" required />
                <div class="text-danger" ng-show="addPassenger.lastName.$error.required">Last name is required.</div>
            </div>
            <div class="form-group">
                <label>Gender</label>
                <br/>
                <select name="gender" kendo-drop-down-list ng-model="passenger.gender"
                        k-data-text-field="'name'"
                        k-data-value-field="'id'"
                        k-data-source="passengerDataSource" style="width: 100%;" required></select>
                <div class="text-danger" ng-show="addPassenger.gender.$error.required">Gender is required.</div>
            </div>
            <div class="form-group">
                <label>Date of Birth</label>
                <br/>
                <input ng-model="passenger.dateOfBirth" name="dateOfBirth" kendo-date-picker  style="width: 100%;" required/>
                <div class="text-danger" ng-show="addPassenger.dateOfBirth.$error.required">Date of Birth is required.</div>
            </div>
            <div class="form-group">
                <label>Phone Number</label>
                <input type="text" name="phoneNumber" ng-model="passenger.phoneNumber" class="form-control" required />
                <div class="text-danger" ng-show="addPassenger.phoneNumber.$error.required">Phone number is required.</div>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" name="email" ng-model="passenger.email" class="form-control" required ng-pattern="/^[a-zA-Z0-9'._%+-]+@[a-zA-Z0-9-][a-zA-Z0-9.-]*\.[a-zA-Z]{2,9}$/" />
                <div class="text-danger" ng-show="addPassenger.email.$error.required">Email is required.</div>
                <div class="text-danger" ng-show="addPassenger.email.$error.pattern && addPassenger.email.$dirty">Invalid email address.</div>
            </div>
            <button class="btn btn-default" ng-disabled="addPassenger.$invalid"  ng-click="save(passenger)">Add Passenger</button>
        </form>
    </div>
</div>
