﻿<div class="row">
    <div class="col-md-10">
        <h2>Add Airline</h2>
    </div>
</div>
<div class="row">
    <div ng-repeat="error in errors">{{error}}</div>
    <form name="airlineAddForm" novalidate>
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" ng-model="airline.name" class="form-control" required/>
            <div class="text-danger" ng-show="airlineAddForm.name.$error.required">Name is required.</div>
        </div>
        <div class="form-group">
            <label>AIrline Code</label>
            <input type="text" ng-model="airline.airlineCode" class="form-control" name="airlineCode" required/>
            <div class="text-danger"
                 ng-show="airlineAddForm.airlineCode.$error.required">Airline code is required.</div>
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            <input type="text" ng-model="airline.phoneNumber" class="form-control" name="phoneNumber" required/>
            <div class="text-danger" ng-show="airlineAddForm.phoneNumber.$error.required">Phone number is required.</div>
        </div>
        <button class="btn btn-default" ng-click="save(airline)" ng-disabled="airlineAddForm.$invalid">Save</button>
    </form>
</div>
<div>
    {{airlineSave}}
</div>