﻿<div class="row">
    <div class="col-md-10">
        <h2>Airlines</h2>
    </div>
</div>
<div class="row">
    <div class="k-grid k-widget k-secondary"
         kendo-grid
         k-options="airlineGridOptions"
         k-on-change='selectionChange(dataItem)'>
    </div>
</div>
<div class="row" ng-show="selectedItem">
    <label class="h2">Airline Details </label>
    <a href="#" class="btn-link" ng-click="editSelectedAirline(editBtnText)">{{editBtnText}}</a>
    <div style="border: 1px;" ng-include="view.url">

    </div>
    <div>
        {{airlineValuesAreEqual}}
    </div>
</div>